dist/
build/
# Python bytecode files
__pycache__/
*.py[cod]
*$py.class
trajectories/
*.class

test.py
test.ipynb
*.log

messages_log.json

.idea
.vscode
.vscode-test
.vscode-test-*
.idea/*
.vscode/*
patch_apis.py
.git
.arize-phoenix

todo.txt

# config.yaml

credentials.yaml
**/credentials.yaml
!**/credentials_example.yaml

.*/
!.gitignore
!.github/

backend/
frontend/

reddit_python_posts.json

test/